/* @import "./fonts/fonts.css"; */
@font-face {
  font-family: "Roboto Web";
  src: url('fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Roboto Web Light';
font-style: normal;
font-weight: 300;
src: local('Roboto-Light'),
   url('fonts/Roboto-Light.ttf') format('truetype'); 
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto Web", Arial, sans-serif;
  }