@font-face {
    font-family: 'Roboto Web Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto-Light'),
         url('./Roboto-Light.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  
  @font-face {
    font-family: 'Roboto Web';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('./roboto-v20-latin_cyrillic-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }